<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê doanh số</title>
    <% include ../partials/head %>
</head>
<body>
    <% include admin-header %>
        <div class='tt-breadcrumb'>
            <div class='container'>
                <ul>
                    <li>
                        <a href='/admin'>Trang chủ</a>
                    </li>
                    <li>Thống kê doanh số</li>
                </ul>
            </div>
        </div>
        <div class='admin-wrap-content'>
            <div class='admin-container'>
                <div class="table-statistics">
                    <h2>Bảng thống kê doanh số</h2>
                    <table class='table table-bordered'>
                        <thead class="table-primary">
                            <tr>
                                <th scope='col'>Loại sản phẩm <br> -</th>
                                <th scope='col'>Số lượng bán ra <br>(sản phẩm)</th>
                                <th scope='col'>Doanh thu <br>(VNĐ)</th>
                            </tr>
                        </thead>
                        <tbody class='table-group-divider'>
                                <tr>
                                    <td>Điện thoại</td>
                                    <td class="format"><%=qtySmartphone%></td>
                                    <td class="format"><%=priceSmartphone%></td>
                                </tr>
                                <tr>
                                    <td>Laptop</td>
                                    <td class="format"><%=qtyLaptop%></td>
                                    <td class="format"><%=priceLaptop%></td>
                                </tr>
                                <tr>
                                    <td>Máy tính bảng</td>
                                    <td class="format"><%=qtyiPad%></td>
                                    <td class="format"><%=priceiPad%></td>
                                </tr>
                        </tbody>
                        <thead class="table-success">
                            <tr>
                                <th scope='col'>Tổng</th>
                                <td class="format"><%=qtyTotal%></td>
                                    <td class="format"><%=priceTotal%></td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="chart-statistics__select">
                    <h3 >Thống kê doanh số bán hàng</h3>
                  
                    <div class="form-statistics__box">
                        <div class="select__form">
                            <p>Chọn cách thống kê doanh số</p>
                            <select id="type" name="type" onchange="myFunction()">
                                <option value="none">none</option>
                                <option value="year">Năm</option>
                                <option value="total">Tổng doanh thu</option>
                            </select>
                        </div>
                        <div class="display__selected">
                            <input type="number" name="year" id="year" min="2022" max="2222" step="1" value="2022">
                            <input type="text" name="all" id="total" value="null" disabled>

                            <button type="button" class="btn btn-primary" id="btn-submit__selected">Submit</button>
                            
                        </div>
                    </div>
                </div>
                

                <div class="statistics-chart">
                    <div id="year-statistics-chart" style="height: 370px; width: 100%;"></div>
                </div>
            </div>
        </div>
</body>
<% include ../partials/script %>
<script>

    var priceElement = document.querySelectorAll('.format');
        priceElement.forEach( price => {
            var format = price.textContent.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            price.innerHTML = format;
        })

    var year = document.getElementById("year");
    var total = document.getElementById("total");
    var btnSubmit = document.getElementById("btn-submit__selected");
    var x;

    document.getElementById("type").value="none";
    year.style.display="none";
    total.style.display="none";
    btnSubmit.style.display="none";

    function postData(data, callback) {
    var options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: data
        };
        fetch('/admin/statistics/query', options)
            .then(function(response) {
                response.json();
            })
            .then(callback)
            .catch(function(err) {
                alert('Failed!!!');
            })
    }

    function myFunction() {
        x = document.getElementById("type").value;

        if(x=="year") {
            year.style.display="block";
        }else  if(x=="total") {
            year.style.display="none";
        }
        btnSubmit.style.display="block";
        if(x =="none") {
            year.style.display="none";
            btnSubmit.style.display="none";
        }
    }

    $('#btn-submit__selected').click(function() {
        let data = {
            date: ''
        };

        if (x == 'year') {
            data.date = year.value;
        } else {
            data.date = total.value;
        }

        console.log(data)

        var json = JSON.stringify(data);
        postData(json);

        
        $.get("/admin/statistics/chart", function(data) {
            if(data) {
                //Thống kê theo năm
                var chartYear = new CanvasJS.Chart("year-statistics-chart", {
                        exportEnabled: true,
                        animationEnabled: true,
                        title:{
                            text: "Biểu đồ doanh thu theo năm",
                            fontfamily: "tahoma",          
                            fontSize: 25,  
                            padding: 24       
                        }, 
                        axisX: {
                            title: ""
                        },
                        axisY: {
                            title: "Doanh Thu",
                            titleFontColor: "#4F81BC",
                            lineColor: "#4F81BC",
                            labelFontColor: "#4F81BC",
                            tickColor: "#4F81BC",
                            includeZero: true,
                            fontSize: 25
                        },
                        axisY2: {
                            title: "Số sản phẩm bán ra",
                            titleFontColor: "#C0504E",
                            lineColor: "#C0504E",
                            labelFontColor: "#C0504E",
                            tickColor: "#C0504E",
                            includeZero: true,
                            fontSize: 25
                        },
                        toolTip: {
                            shared: true
                        },
                        data: [{
                            type: "column",
                            name: "Doanh thu",
                            showInLegend: true,      
                            yValueFormatString: "#,##0.# VNĐ",
                            dataPoints: [
                                { label: "Tháng 1",  y:  data.T1.price},
                                { label: "Tháng 2",  y: data.T2.price },
                                { label: "Tháng 3",  y: data.T3.price },
                                { label: "Tháng 4",  y: data.T4.price },
                                { label: "Tháng 5",  y: data.T5.price },
                                { label: "Tháng 6",  y: data.T6.price },
                                { label: "Tháng 7",  y: data.T7.price },
                                { label: "Tháng 8",  y: data.T8.price },
                                { label: "Tháng 9",  y: data.T9.price },
                                { label: "Tháng 10",  y: data.T10.price },
                                { label: "Tháng 11",  y: data.T11.price },
                                { label: "Tháng 12",  y: data.T12.price }
                            ]
                        },
                        {
                            type: "column",
                            name: "Số sản phẩm bán ra",
                            axisYType: "secondary",
                            showInLegend: true,
                            yValueFormatString: "#,##0.# Sản phẩm",
                            dataPoints: [
                                { label: "Tháng 1",  y:  data.T1.qty},
                                { label: "Tháng 2",  y: data.T2.qty },
                                { label: "Tháng 3",  y: data.T3.qty },
                                { label: "Tháng 4",  y: data.T4.qty },
                                { label: "Tháng 5",  y: data.T5.qty },
                                { label: "Tháng 6",  y: data.T6.qty },
                                { label: "Tháng 7",  y: data.T7.qty },
                                { label: "Tháng 8",  y: data.T8.qty },
                                { label: "Tháng 9",  y: data.T9.qty },
                                { label: "Tháng 10",  y: data.T10.qty },
                                { label: "Tháng 11",  y: data.T11.qty },
                                { label: "Tháng 12",  y: data.T12.qty }
                            ]
                        }]
                    });
                    chartYear.render();
            }
        })

    })




    </script>
</html>
